// main colors = m
$color_m1: #A18A68;
$color_m2: #fff;
$color_m3: #000;

// neutrals colors = n
$color_n1: #707070;
$color_n2: #D8D8D8;
$color_n3: #EFEFEF;

// servise color = s
$color_s1: #D82700;

//Container
@mixin container {
  @media screen and (max-width:$xlarge_device){
    width: 1440px;
    padding: 0 96px;
    margin: auto;
  }
  @media screen and (max-width:$large_device){
    width: 1200px;
    padding: 0 96px;
    margin: auto;

  }

  @media screen and (max-width:$medium_device){
    width: 960px;
    padding: 0 32px;
    margin: auto;

  }

  @media screen and (max-width:$small_device){
    width: 320px;
    padding: 0 16px;
    margin: auto;

  }

}

$small_device:480px;
$medium_device:768px;
$large_device:1279px;
$xlarge_device:1920px;


//Fonts
$fontDM:'DMSans', Arial, sans-serif;


//Font_weight
$font_weight_bold:bold;
$font_weight_medium:medium;
$font_weight_normal: normal;
$font_weight_italic: italic;
$font_weight_light: light;

//Font_size
$font_size_huge:33px;
$font_size_large:26px;
$font_size_medium:20px;
$font_size_regular:16px;
$font_size_small:14px;
$font_size_tiny:12px;

//Font_line_height
$line_height_huge:35px;
$line_height_xlarge:27px;
$line_height_large:26px;
$line_height_medium:20px;






//Fonts_install
@font-face {
  font-family: 'DMSans';
  src: url('../fonts/DMSans-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'DMSans';
  src: url('../fonts/DMSans-BoldItalic.ttf') format('ttf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'DMSans';
  src: url('../fonts/DMSans-Italic.ttf') format('ttf');
  font-weight: 400;
  font-style: italic;

}
@font-face {
  font-family: 'DMSans';
  src: url('../fonts/DMSans-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'DMSans';
  src: url('../fonts/DMSans-MediumItalic.ttf') format('ttf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'DMSans';
  src: url('../fonts/DMSans-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}


// Icons
.icon_color_normal{
  width: 20px;
  height: 17px;
  flex-shrink: 0;
  color: #707070;
  }

.icon_color_hover{
  width: 20px;
  height: 17px;
  flex-shrink: 0;
  color: #000000;
  }

  .icon_color_active{
    width: 20px;
    height: 17px;
    flex-shrink: 0;
    color: #000000;
    }
  
.shop_normal{
  width: 43px;
  height: 32px;
  color: #000;
  }

.shop_hover{
  width: 43px;
  height: 32px;
  color: #000;
  }

.shop_active{
  width: 43px;
  height: 59px;
  color: #000;
  }

.shopping_cart_normal{
  width: 21px;
  height: 21px;
  flex-shrink: 0;
  color: #000;
  }  

.shopping_cart_hover{
    width: 21px;
    height: 21px;
    flex-shrink: 0;
    color: #000;
    }  

.shopping_cart_active{
    width: 23px;
    height: 48px;
    flex-shrink: 0;
    color: #000;
    }  
