// main colors = m
$color_m1: #A18A68;
$color_m2: #fff;
$color_m3: #000;

// neutrals colors = n
$color_n1: #707070;
$color_n2: #D8D8D8;
$color_n3: #EFEFEF;

// servise color = s
$color_s1: #D82700;

//Container
@mixin container {
    width: 1440px;
    padding: 0 96px;
}


//Fonts_install
@font-face {
  font-family: 'DMSans';
  src: url('../fonts/DMSans-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'DMSans';
  src: url('../fonts/DMSans-BoldItalic.ttf') format('ttf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'DMSans';
  src: url('../fonts/DMSans-Italic.ttf') format('ttf');
  font-weight: 400;
  font-style: italic;

}
@font-face {
  font-family: 'DMSans';
  src: url('../fonts/DMSans-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'DMSans';
  src: url('../fonts/DMSans-MediumItalic.ttf') format('ttf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'DMSans';
  src: url('../fonts/DMSans-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

//Fonts_for_heading

h1{
  font-family: 'DMSans', Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 33px;
}

h2{
  font-family: 'DMSans', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 26px;
}

h3{
  font-family: 'DMSans', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

h4{
  font-family: 'DMSans', Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
}
h5{
  font-family: 'DMSans', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}


// Icons
.icon_color_normal{
  width: 20px;
  height: 17px;
  flex-shrink: 0;
  color: #707070;
  }

.icon_color_hover{
  width: 20px;
  height: 17px;
  flex-shrink: 0;
  color: #000000;
  }

  .icon_color_active{
    width: 20px;
    height: 17px;
    flex-shrink: 0;
    color: #000000;
    }
  
.shop_normal{
  width: 43px;
  height: 32px;
  color: #000;
  }

.shop_hover{
  width: 43px;
  height: 32px;
  color: #000;
  }

.shop_active{
  width: 43px;
  height: 59px;
  color: #000;
  }

.shopping_cart_normal{
  width: 21px;
  height: 21px;
  flex-shrink: 0;
  color: #000;
  }  

.shopping_cart_hover{
    width: 21px;
    height: 21px;
    flex-shrink: 0;
    color: #000;
    }  

.shopping_cart_active{
    width: 23px;
    height: 48px;
    flex-shrink: 0;
    color: #000;
    }  
