
  <form class="filter-form">
    <div class="heading">
        <h1>Shop The Latest</h1>
    </div>
    <label>
        <input type="text" placeholder="Search..."  class="search-container">
        <div class="lup"></div>
    </label>
     <div class="box-shop">Shop By<button type="button"></button></div>
     <div class="box-shop">Sort By<button type="button"></button></div> 
      
     
     
      <!-- //shop filter -->
      <div class="slider">
        <div class="filter">
          <span class="filter-bottom"></span>
          <div class="filter-p">
            <p>
              <label for="amount">Price range:</label>
              <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
            </p>
             
            <div id="slider-range"></div>
            
            <p class="filter-text">Filter</p>
          </div>
        </div>
      </div>




      <!-- íàéíèæ÷³ ä³âè(ò³ ùî ï³ä ô³ëüòðîì) -->

      <div class="for-button"> <p class="shop-bottoms">On sale</p>  <button class="one-click"></button></div>
      <div class="for-button"> <p class="shop-bottoms">In stock</p>  <button class="one-click"></button></div>
</form>
