<footer>

  <div class='container'>

    <div class='footer_linear'></div>

    <div class='footer_item'>
      <ul class='footer_services'>
        <li><a class='footer_nav' href='#'>Contact</a></li>
        <li><a class='footer_nav' href='#'>Team of services</a></li>
        <li><a class='footer_nav' href='#'>Shopping and returns</a></li>
      </ul>

      <form class='footer_newsletter'>

        <input type='email' class='email-input' placeholder='Give an email, get the newsletter.'>
        <button class='arrow_sends' type='submit'></button>

      </form>

    </div>

    <div class='footer_copyright'>
      <h5><strong>© 2021 Shelly.</strong> Terms of use <strong>and</strong> privacy policy.</h5>

      <ul class='footer_icon'>

        <li><a class=footer_social_icon" href='#'><img src='/src/images/icon%20for%20social/in.svg' alt=''></a></li>
        <li><a class=footer_social_icon" href='#'><img src='/src/images/icon%20for%20social/facebook.svg' alt=''></a></li>
        <li><a class=footer_social_icon" href='#'><img src='/src/images/icon%20for%20social/instagram.svg' alt=''></a></li>
        <li><a class=footer_social_icon" href='#'><img src='/src/images/icon%20for%20social/twitter.svg' alt=''></a></li>
      </ul>
    </div>

  </div>
</footer>