<link rel="stylesheet" href="../sass/_header.scss">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<header class="header">
    <div class="nav">
        <div class="container">
            <div class="nav-row">
                <a href="#" class="logo"><strong>S</strong>HOPPE</a>
                <ul class="nav-menu">
                    <!-- <li class="nav-list__item">2<a href="" class="nav-list__link nav-list__link--active">Home</a></р> -->
                    <li class="nav-list__item"><a href="" class="nav-list__link nav-list__link--active">Shop</a></li>
                    <li class="nav-list__item"><a href="" class="nav-list__link">Blog</a></li>
                    <li class="nav-list__item"><a href="" class="nav-list__link">Our Story</a></li>
                    <img src="../images/icon/Line 2.svg" alt="">

                    <li class="nav-bar__item"><a href="" class="nav-list__link nav-list__link--active"><img src="../images/icon/search.svg" alt=""></a></li>
                    <li class="nav-bar__item"><a href="" class="nav-list__link"><img src="../images/icon/basket.svg" alt=""></a></li>
                    <li class="nav-bar__item"><a href="" class="nav-list__link"><img src="../images/icon/profile.svg" alt=""></a></li>
                </ul>
            </div>
        </div>
    </div>
</header>